.mainContent__container {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 280px 1fr;
	grid-template-rows: 80px 1fr;
	grid-template-areas:
		"sidebar mainHeaderContainer"
		"sidebar routesContainer";
	transition: grid-template-columns 0.3s ease;
}

.containerWithMenu {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-template-areas:
		"sidebar mainHeaderContainer"
		"sidebar routesContainer";
	transition: grid-template-columns 0.3s ease;
}

.sidebarContainer {
	grid-area: sidebar;
}

.mainHeaderContainer {
	grid-area: mainHeaderContainer;
}

.routesContainer {
	grid-area: routesContainer;
}

@media screen and (max-width: 768px) {
	.mainContent__container {
		grid-template-columns: 0fr 1fr;
		transition: grid-template-columns 0.3s ease;
	}

	.mainContent__container.open {
		grid-template-columns: 280px 1fr;
	}
	.responsiveMenu {
		opacity: 20%;
	}
}
