.loginContainer {
	width: 100%;
	min-height: 100vh;
	background-color: #fff;

	display: grid;
	grid-template-columns: 1fr 2fr;
}

.overlayContainer {
	height: 100vh;
	overflow: hidden;
	z-index: 100;
}

.overlay {
	width: 100%;
	height: 100%;
	background: rgb(13, 52, 100);
	background: linear-gradient(120deg, rgb(14, 52, 99) 0%, rgb(10, 50, 124) 100%);
	color: #ffffff;
	position: relative;
	transition: transform 0.6s ease-in-out;

	display: grid;
	place-content: center;
}
.overlay__text {
	font-size: 46px;
	font-weight: 600;
}

.form__container__layout {
	width: 100%;
	height: 100vh;

	display: grid;
	justify-content: center;
	align-items: center;
}
.form__container {
	display: flex;
	flex-direction: column;

	width: 500px;
	gap: 20px;
}
.form__title {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	color: var(--primary-color-app);
}
@media screen and (max-width: 768px) {
	.loginContainer {
		grid-template-columns: 1fr;
	}
	.overlayContainer {
		display: none;
	}

	.overlay {
		font-size: 24px;
	}

	.overlay__text {
		font-size: 24px;
	}

	.form__container {
		width: 90vw;
	}
}
